<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="/static/js/rage.js"></script>
        <script src="/static/js/jquery.autosize.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/rage.css" />
    </head>
    <body>
        <div id="image-loc">
        </div>
        <div id="content">
            <div id="textarea">
                <textarea id="nickyo">
                </textarea>
            </div>
            <!--
            <form name="nickguo">
                <input type="text", id="nickyo" />
            </form>
            -->
            <div id="buttonarea">
                <button type="button" onClick="fn()">Submit Text!</button>
            </div>
        </div>
        <script> $(document).ready(function(){
                    $('textarea').autosize();    
                    }); </script>
    </body>
</html>
