<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="/static/js/rage.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/rage.css" />
    </head>
    <body>
        It Works! ...maybe?
        <div id="image-loc">
        </div>
        <textarea id="nickyo">
        </textarea>
        <!--
        <form name="nickguo">
            <input type="text", id="nickyo" />
        </form>
        -->
        <button type="button" onClick="fn()">Click Me!</button>
    </body>
</html>
